In [70]:
num=[12,2,3,45,6,7,8]
for i in num: 
    print(i,type(i))

12 <class 'int'>
2 <class 'int'>
3 <class 'int'>
45 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>

In [71]:
for i in num :
    print(i)
else :
    print(1234567890)

12
2
3
45
6
7
8
1234567890

In [72]:
l=['sudh','kumar','krish','naik']
for i in l:
    if i=='naik':
        break
    print(i)
else:
    print('Execute this if loop is able to compelte itself ')

sudh
kumar
krish

In [73]:
name=['sudh','kumar','krish','naik']
for i in name:
    if i=='naik':
        continue
    print(i)
else:
    print('Execute this if loop is able to compelte itself ')

sudh
kumar
krish
Execute this if loop is able to compelte itself

In [74]:
range(0,6)

range(0, 6)

In [75]:
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

In [76]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [77]:
neg=list(range(-10,20,2))

In [78]:
list(range(len(name)))

[0, 1, 2, 3]

In [79]:
for i in range(len(name)):
    print(name[i])

sudh
kumar
krish
naik

Now in Reverse Order

In [80]:
list(range(len(name)-1,-1,-1))

[3, 2, 1, 0]

In [81]:
for i in range (len(name)-1,-1,-1):
    print(name[i])

naik
krish
kumar
sudh

In [82]:
range(0,10)

range(0, 10)

In [83]:
name

['sudh', 'kumar', 'krish', 'naik']

In [84]:
name=['sudh','kumar','krish','naik']
for i in range(len(name)-1,-1,-1):
    print(name[i])

naik
krish
kumar
sudh

Odd and Even finder

In [85]:
num=[1,2,3,4,5,6,7,8,9,0]
for i in num:
    if i%2==0:
        print(i,'even')
    else:
        print(i,'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
0 even

finding data at even index

In [86]:
nums=[12,24,54,55,76,23,78,90,98,76,56,65,23]
list(range(0,len(nums),2))

[0, 2, 4, 6, 8, 10, 12]

In [87]:
for i in range(0,len(nums),2):
        print(nums[i])

12
54
76
78
98
56
23

Sum of lists

In [88]:
list_of_nums=[1,2,3,4,5,6,7,89,9,0,9,87,6,5,4,3,21]
sum(list_of_nums)

261

In [89]:
Total_sum=0
for i in list_of_nums:
    Total_sum=Total_sum+i
Total_sum

261

In [90]:
d={'name':"Anshuman",'class':'3rdd Year','topic':['ML','DL','SQL','CV','Interview','NLP']}

In [91]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [92]:
d

{'name': 'Anshuman',
 'class': '3rdd Year',
 'topic': ['ML', 'DL', 'SQL', 'CV', 'Interview', 'NLP']}

In [93]:
d['name']

'Anshuman'

In [96]:
for i in d.keys():
    print(d[i])

Anshuman
3rdd Year
['ML', 'DL', 'SQL', 'CV', 'Interview', 'NLP']

In [97]:
d.values()

dict_values(['Anshuman', '3rdd Year', ['ML', 'DL', 'SQL', 'CV', 'Interview', 'NLP']])

In [100]:
for i in d.values():
    print(i)

Anshuman
3rdd Year
['ML', 'DL', 'SQL', 'CV', 'Interview', 'NLP']

In [101]:
d.items()

dict_items([('name', 'Anshuman'), ('class', '3rdd Year'), ('topic', ['ML', 'DL', 'SQL', 'CV', 'Interview', 'NLP'])])

In [102]:
for i in d.items():
    print(i)

('name', 'Anshuman')
('class', '3rdd Year')
('topic', ['ML', 'DL', 'SQL', 'CV', 'Interview', 'NLP'])